<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHighResolutionCapable</key>
    <true/>
	<key>CFBundleName</key>
	<string>Java ConnectionViewer</string>
	<key>CFBundleIdentifier</key>
	<string>connectionviewer.ConnectionViewer</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mat</string>
				<string>pmat</string>
				<string>pvec</string>
				<string>vec</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Matrices</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericApp.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>connectionviewer.ConnectionViewer</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/ConnectionViewer.jar</string>
		<key>VMOptions</key>
        <string>Xms128m -Xmx1024m</string>
	</dict>
</dict>
</plist>
